<!DOCTYPE html>

<html>
<title> श्रीमद भगवद्गीताा </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="static/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  var $sh = $("#shloka");
  for (i=1;i<=42;i++){
      $sh.append($('<option></option>').val(i).html(i))
  }
});
$(document).ready(function(){
  var $ch = $("#chapter");
  for (i=1;i<=18;i++){
      $ch.append($('<option></option>').val(i).html(i))
  }
});
</script>

<body>

  <div class="w3-container w3-teal">
    <h1> श्रीमद भगवद्गीता </h1>
  </div>

  <div class="w3-container w3-right-align w3-small">
    <a href="/" class="w3-text-teal"> Home </a>
  </div>

  <form action="/display" method="POST" class="w3-container">

    <div class="w3-container">
      <p class="w3-row">
        <select id="chapter" name="chapter" class="w3-select w3-border" required><option value="" disabled selected>Chapter</option></select>
      </p>

      <p class="w3-row">
        <select id="shloka" name="shloka" class="w3-select w3-border" required><option value="" disabled selected>Shloka</option></select>
      </p>

      <p class="w3-row">
        <button type="submit" class="w3-btn w3-teal"> Enter </button>
      </p>
    </div>
  </form>

  <div class="w3-container w3-mobile">
    <p> Chapter: <b>{{ chapter }}</b> Shloka: <b>{{ shloka }}</b> </p>
    <div class="w3-code">
      <b class="w3-text-teal"> मूल श्लोकः </b>
      <pre>{{text}}</pre>
    </div>

    <div class="w3-code">
      <b class="w3-text-teal"> Pronunciation: </b>
      <pre>{{verse}}</pre>
    </div>


  </div>

</body>
</html>
