<!DOCTYPE html>

<html>
<title> गीता सुपरसाइट  </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="w3-card-4">

  <div class="w3-container w3-teal">
    <h1> गीता सुपरसाइट  </h1>
  </div>

  <div class="w3-container w3-right-align w3-small">
    <a href="/submitShloka" target="_blank" class="w3-text-teal">Submit Shloka</a>
  </div>

  <div class="w3-container">
      <h3><a href="/bhagwadgita"> श्रीमद्भगवद्गीता <a></h3>
  </div>
</div>


</body>
</html>
